.container {
  color: white;
}

.nav-links p {
  cursor: pointer;
}

.nav-links p:hover{
    color: var(--yellow);
}

.icons i {
  cursor: pointer;
}

.icons i:hover{
    color: var(--yellow);
}
.bg-fluid{
    background-color:var(--grey);

}
.nav-links{
  max-width: 500px;
}
